<h1> This is the signup page </h1>

<form method="POST" action="/signup">
    Email: <input type="email" name="user[email]">
    <br>
    Username: <input type="text" name="user[username]">
    <br>
    Password: <input type="password" name="user[password]"><br>
    <br>
    <input type="submit" value="Create Account">
</form>