<h1> This is the signup page </h1>

<form method="POST" action='/users/signup'>
    Email: <input type="text" name="email">
    <br>
    Username: <input type="text" name="username">
    <br>
    Password: <input type="password" name="password"><br>
    <br>
    <input type="submit">
</form>