<h1>EDIT FORM!</h1>

<form method="PUT" action="/travel_destinations/<%= @travel_destination.id %>">

    <input type="text" name="location" value="<%= @travel_destination.location%>"><br>
    <br>
    <textarea name="description" value="<%= @travel_destination.description%>"></textarea><br>
    <br>
    <input type="text" name="rating" value="<%= @travel_destination.rating%>"><br>
    <br>
    <input type="submit" value="Update Bucket List">


</form>