

<form method="POST" action="/travel_destinations">
    <input type="text" name="travel_destination[location]" placeholder="location"><br>
    <br>
    <textarea name="travel_destination[description]" placeholder="description"><br></textarea>
    <br>
    <input type="text" name="travel_destination[rating]" placeholder="rating"><br>
    <br>
    <input type="submit">


</form>