<!DOCTYPE html>
<html>
<h1>
  <img src="/images/bucket list copy.png" >
</h1>

<body>
<p>Welcome to the new way of keeping track of all the places you wish to travel to some day! </p>
</body>

</html>